@charset "utf-8";
/* CSS Document */
/**
 * @author: Lorence
 * Part1: Writting CSS to reset a lot of default components
 * Website: https://www.templatemonster.com/demo/52055.html;
 * Website: https://www.templatemonster.com/demo/61124.html
 */
h4, h5, h6, h1, h2, h3 {margin-top:0;}
ul,ol{margin:0;}
p{margin:0;}
ul{list-style-type: none;}
a:hover{
	text-decoration: none;
}
a{
	text-decoration: none;
}
html,body{
	font-family:'Roboto',sans-serif;
	font-size:100%;
	background:#fff;
	width: 100%;
}
/**
 * @Author: Lorence
 * @Purpose: Design Website Template;
 */
 /** ----------------- BANNER HEADER ------------------**/
 .banner{
 	margin-top: 10px;
 }
 .banner img{
 	width: 100%;
 	height: auto;
 }
/** ----------------- NAVIGATION MENU ------------------**/
.navBar{
	margin-top: 10px;
	background-color: #255ab5;
}
.nav .home{
	color:white;
}
.navBar div ul li{
	border-right: 1px solid #4c7bd2;
}
.navBar div ul li:nth-child(1){
	border-left: 1px solid #4c7bd2;	
}
.navBar div ul li:nth-child(10){
	border-right: none;	
}
.navBar div ul li a{
	color:white;
	font-size: 15px;
	font-family: 'Roboto',arial;
	font-weight: 500;
}
.navBar div ul li a:hover{
	background-color: #1a4385 !important;
	color:white;
}
/** ----------------- SUBSYSTEM NAVIGATION ------------------**/
.subMenu{
	margin-top: 6px;
}
.subMenu ul{
	list-style-type: none;
	margin:0px;
	padding: 0px;
	overflow: hidden;
	margin-left: 14px;
}
.subMenu ul li{
	float: left;
}
.subMenu ul li a{
	font-size: 12px;
	text-align: center;
	display: block;
	color: #888888;
	padding: 4px 6px;
}
.subMenu ul li:first-child a{
	color:red;
}
/**
  * Body Website: Two Part;
  * - Part 1: Main post of website;
  * - Part 2: Sidebar of website;
  */
.content div div div div:nth-child(2) h2{
	margin-top: 4px;
	color: red;
}
.content div div div div div{
	margin-bottom: 10px;
}
.content div div div div .line{
	border: 0.1em solid #eeeeee;
}
.content div div div div .line:nth-child(8){
	border: none;
}
.content div div div div div div:nth-child(2){
}
.content div div div div div div img{
	margin-top: 3px;
}
.content div div div div div div p{
	color:black;
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
}

/** Current Post of Website **/
.content div div .post2{
	margin-top: 6px;
}
.content div div .post2 div img{
	padding: 15px;
}
.content div div .post2 div p{
	padding: 0px 15px;
	font-size: 14px;
	font-weight: bold;
	text-align: justify;
    text-justify: inter-word;
}

/** ROW 3 **/
.content div div .line{
	border-top: 0.1em solid #eeeeee;
	margin-top: 10px;
}
.content div div div h2{
	color:#1f488e;
	font-weight: bold;
	font-size: 24px;
}
.content div div .post3{
	border-top: 2px solid #1f488e;
	background-color: #f7f7f7;
}
.content div div .post3 div img{
	margin-top: 10px;
}
.content div div .post3 div h2{
	margin-left: 36px;
	margin-top: 6px;
}
.content div div .post3 div .description{
	margin-left: 36px;
	margin-right: 36px;
	text-align: justify;
    text-justify: inter-word;
}
.content div div .post3 div div{
	padding: 1px;
}
.content div div .post3 div div p{
	margin-top: 8px;
	margin-left: -37px;
}

/** ROW 4 **/
.content div div .line{
	border-top: 0.1em solid #eeeeee;
	margin-top: 10px;
}
.content div div div h2{
	color:#1f488e;
	font-weight: bold;
	font-size: 24px;

	margin-top: 24px;
}
.content div div .post4{
	border-top: 2px solid #1f488e;
	background-color: #f7f7f7;
}
.content div div .post4 div img{
	margin-top: 10px;
}
.content div div .post4 div h2{
	margin-left: 10px;
}
.content div div .post4 div .description{
	text-align: justify;
    text-justify: inter-word;
    margin-left: 10px;
}
.content div div .post4 div:nth-child(2) img{
	margin-left: 8px;
}
.content div div .post4 div:nth-child(2) h2{
	color:black;
	text-align: justify;
    text-justify: inter-word;
}
.content div div .post4 div:nth-child(3) div{
	margin-left: 10px;
}
.content div div .post4 div:nth-child(3) div p{
	font-size: 14px;
	margin-top: 4px;
}
.content div div .post4 div:nth-child(3) .line{
	border: 0.5px solid #eeeeee;
}
.content div div .post4 div:nth-child(3) .line:nth-child(12){
	border: none;
}

/** ROW 5 **/
.content div div .post5{
	margin-top: 1px;
}
.content div div .post5 img{
	border-top: 0.5px solid #eeeeee;
	padding-top: 12px;
}
.content div div .post5 h3{
	text-align: justify;
    text-justify: inter-word;

    font-size: 18px;
    color: black;
    margin-top: 6px;
    margin-right: 50px;
}
.content div div .post5 ul{
	margin-left: -38px;
	margin-right: 48px;
}
.content div div .post5 ul li{
	font-size: 14px;

	text-align: justify;
    text-justify: inter-word;
    padding: 4px 4px;
}
.content div div .post5 ul #line{
	border-bottom: 0.5px solid #eeeeee;
	margin-bottom: 5px;
}
.content div div .post5 ul #line:nth-child(8){
	border-bottom:none;
}
.content div div .post5 div:nth-child(2){
}
.content div div .post5 div:nth-child(2) h2{
	margin-top: 13px;
	padding: 10px;
	border-bottom: 0.5px solid #eeeeee;

	color:#1f488e;
}
.content div div .post5 div:nth-child(2) div img{
	border:none;
	margin-top: -9px;
	margin-left: 12px;
}
.content div div .post5 div:nth-child(2) div:nth-child(2) h3{
	color:black;
	margin-left: 16px;
	line-height: 1.3em;
}
.content div div .post5 div:nth-child(2) div:nth-child(2) p{
	margin-left: 16px;

	font-weight: normal;
	color:black;
	font-size: 14px;
}
.content div div .post5 div:nth-child(2) div:nth-child(3){
	margin-top: -4px;
	margin-left: -8px;
}
.content div div .post5 div:nth-child(2) div:nth-child(3) ul{
	margin-top: -2px;
}
.content div div .post5 div:nth-child(2) div:nth-child(3) ul li{
	border-bottom: 0.5px solid #eeeeee;
	margin-bottom: 10px;
}
.content div div .post5 div:nth-child(2) div:nth-child(3) ul li:nth-child(4){
	border-bottom: none;
}
.content div div .post5 div:nth-child(2) div:nth-child(3) ul li h4{

}
.content div div .post5 div:nth-child(2) div:nth-child(3) ul li p{
	font-weight: normal;
	font-size: 13px;
}
/**
 * POST 6 
 * Template website eductional 
 */
.content div div .post6{
	margin-top: 1px;
}
.content div div .post6 div h3{
	color:#1f488e;
	font-weight: bold;
	font-size: 24px;

	padding-bottom: 6px;
	border-bottom: 2px solid #1f488e;
}
.content div div .post6 div:nth-child(2) .thumbnailx{
	position: relative;
}
.content div div .post6 div:nth-child(2) div .post-content{
	bottom:0;
    left:0;
    position: absolute;

    margin-left: 12px;
    margin-right: 10px;
}
.content div div .post6 div:nth-child(2) div .post-content{
	color: white;
	font-weight: bold;
	font-size: 14px;
}

/** Post 7 **/
.content div div .post7{
	margin-top: 14px;
	background-color: #f1f1f1;
}
.content div div .post7 .linetop{
	border-bottom: 2px solid #1f488e;
}
.content div div .post7 div:nth-child(2){
	background-color: #f1f1f1;
}
.content div div .post7 div:nth-child(2) div h3{
	color:#39488e;
	margin-top: 10px;
	margin-left: 32px;
	margin-bottom: 2px;
}
.content div div .post7 div:nth-child(2) div img{
	border-top: 0.5px solid #cccccc;
	padding-top: 10px;
}
.content div div .post7 div:nth-child(2) div h4{
	margin-top: 10px;
	margin-left: 32px;
}
.content div div .post7 div:nth-child(2) div ul{
	font-size: 13px;
}
.content div div .post7 div:nth-child(2) div ul li{
	margin-right: 14px;
	margin-bottom: 6px;
}

/** Post 8 **/
.content div:nth-child(2) .post8{
	margin-top: 14px;
	margin-left: 10px;
}
.content div:nth-child(2) .post8 div:nth-child(1) h3{
	color:#1f488e;
	font-weight: bold;
	font-size: 24px;
	padding-bottom: 6px;
	border-bottom: 2px solid #1f488e;
}
.content div:nth-child(2) .post8 div:nth-child(3) div{
	background-color: #f4f4f4;
}
.content div:nth-child(2) .post8 div:nth-child(3) div p{
	margin-top: 4px;

	font-weight: bold;
	font-size: 14px;
	color: black;
}

/** Side bar in the right **/
#sidebar{
	margin: 0px;
	padding:0px;
}
/* Style the tab */
#sidebar div:nth-child(1){
	overflow: hidden;
    background-color: #ffffff;
    
    margin-left: 10px;
}
#sidebar .linetop{
	border: 2px solid #a0a5aa;
}

/* Style the links inside the tab */
#sidebar div:nth-child(1) a {
    float: left;
    display: block;
    color: #adb4c8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 13px;
    font-weight: bold;
}
/* Change background color of links on hover */
#sidebar div:nth-child(1) a:hover {
    color:white;
	background-color:red;
}
/* Create an active/current tablink class */
#sidebar div:nth-child(1) a:focus, .active {
    color:white;
	background-color:red;
}
#sidebar div:nth-child(1) a:active,a:visited{
	color:white;
	background-color:red;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    background-color: #f4f4f4;
    margin-left: 10px;
}
.currentPost{
	margin-top: 10px;
	margin-left: 10px;
}
.currentPost div:nth-child(1) img{
	border: 1px solid #cccccc;
}
.currentPost div:nth-child(2) img{
	border: 1px solid #cccccc;
	margin-left: 46px;
	margin-top: 10px;
	background-color: red;
}
.currentPost div:nth-child(3) h3{
	color:black;
	font-size: 20px;
	margin-left: 46px;
	margin-right: 10px;
	margin-top: 6px;
}
.currentPost div:nth-child(3) p{
	margin-left: 46px;
	margin-right: 16px;
	margin-top: 6px;

	font-weight: normal;
	font-size: 14px;
}
.currentPost div:nth-child(4) ul{
	margin-left: 10px;
}
/** ----------------- BOTTOM MENU ------------------**/
.bottomBar{
	margin-top: 10px;
	background-color: #353535;
}
.bottomBar  div ul li:nth-child(1){
	margin-left: 0px;
}
.bottomBar  div ul li a{
	color:white;
	font-size: 15px;
	font-family: 'Roboto',arial;
	font-weight: 500;
}
.bottomBar div ul li a:hover{
	background-color: #353535;
	color:white;
}
.descriptionBottomBar{
	background-color: #c2c2c2;
}
.descriptionBottomBar div ul:nth-child(1) li a{
	color:black;
}
.descriptionBottomBar div ul:nth-child(1) li a:hover{
	background-color: #c2c2c2;
	color: black;
}
.descriptionBottomBar div ul:nth-child(2) li a:hover{
	background-color: #c2c2c2;
	color: black;
}
.descriptionBottomBar div ul:nth-child(1) li a span{
	margin-right: 6px;
}
.descriptionBottomBar div ul:nth-child(2) li a{
	color:black;
}
.descriptionBottomBar div ul:nth-child(2) li a span{
	margin-left: 6px;
}

/** Post 9 **/
.content div .post9{
}
.content div .post9 div:nth-child(1) h3{
	font-weight: bold;
	font-size: 13px;
	margin-top: 26px;
	margin-left: 30px;
}
.content div .post9 div:nth-child(1) p{
	font-size: 14px;
	font-weight: normal;

	text-align: justify;
    text-justify: inter-word;
    margin-left: 30px;
    margin-right: 56px;
    margin-bottom: 40px;
    line-height: 1.6em;
}
.content div .post9 div:nth-child(2) p{
	margin-top: 26px;
	margin-left: 30px;
	margin-right: 10px;

	font-size: 14px;
	font-weight: normal;

	text-align: justify;
    text-justify: inter-word;
    line-height: 1.6em;
}

/** -------------- NEW ------------------- **/
.content_new div div .title{
	margin-top: 2px;
}
.content_new div div .title h2{
	font-size: 24px;
	color: #c80716;
	margin-left: 16px;
	margin-top: 8px;
}
.content_new div div .new{
	margin-bottom: 17px;
}
.content_new div div .line{
	border-top: 1px solid #cccccc;
	margin-bottom: 16px;
}
.content_new div div .new div:nth-child(2) h2{
	font-size: 18px;
	font-weight: bold;

	margin-top: 4px;
}
.content_new div div .new div:nth-child(2) p{
	font-weight: normal;
	font-size: 14px;

	text-align: justify;
    text-justify: inter-word;
}
.content_new div .post9{
}
.content_new div .post9 div:nth-child(1) h3{
	font-weight: bold;
	font-size: 13px;
	margin-top: 26px;
	margin-left: 30px;
}
.content_new div .post9 div:nth-child(1) p{
	font-size: 14px;
	font-weight: normal;

	text-align: justify;
    text-justify: inter-word;
    margin-left: 30px;
    margin-right: 56px;
    margin-bottom: 40px;
    line-height: 1.6em;
}
.content_new div .post9 div:nth-child(2) p{
	margin-top: 26px;
	margin-left: 30px;
	margin-right: 10px;

	font-size: 14px;
	font-weight: normal;

	text-align: justify;
    text-justify: inter-word;
    line-height: 1.6em;
}
/** -------------- DETAIL NEW ------------------- **/
.content_detail div div .title{
	margin-top: 2px;
}
.content_detail div div .title h2{
	font-size: 24px;
	color: #c80716;
	margin-left: 16px;
	margin-top: 8px;
}
.content_detail div div .subtitle h2{
	font-size: 26px;
	margin-left: 16px;
}
.content_detail div div .line{
	border-top: 1px solid #cccccc;
	margin-bottom: 16px;
}
.content_detail div div .like{
	margin-top: -12px;
}
.content_detail div div .like ul:nth-child(1) li a{
	background-color: white;
	color:black;
}
.content_detail div div .like ul:nth-child(1) li a:hover{
	background-color: white;
	color:black;
}
.content_detail div div .like ul:nth-child(2){
	margin-right: 0px;
}
.content_detail div div .like ul:nth-child(2) button{
	background-color: #4764b3;
	color:white;
	border:none;

	margin-top: 14px;
	padding-left: 8px;
	padding-right: 8px;
}
.content_detail div div .detail{
	border:1px solid #dddddd;
	background-color: #f2f2f2;
	padding: 10px;
	line-height: 1.4em;

	margin-left: -2px;
}
.content_detail div div .detail p{
	font-weight: bold;
	font-size: 14px;
}

.content_detail div .post9{
}
.content_detail div .post9 div:nth-child(1) h3{
	font-weight: bold;
	font-size: 13px;
	margin-top: 26px;
	margin-left: 30px;
}
.content_detail div .post9 div:nth-child(1) p{
	font-size: 14px;
	font-weight: normal;

	text-align: justify;
    text-justify: inter-word;
    margin-left: 30px;
    margin-right: 56px;
    margin-bottom: 40px;
    line-height: 1.6em;
}
.content_detail div .post9 div:nth-child(2) p{
	margin-top: 26px;
	margin-left: 30px;
	margin-right: 10px;

	font-size: 14px;
	font-weight: normal;

	text-align: justify;
    text-justify: inter-word;
    line-height: 1.6em;
}